fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
greenlet
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pydantic[email]
pydantic-settings
alembic
pymupdf
python-dateutil
spacy
apscheduler
openai-whisper